@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <style>
        body {
            background-image: url('/images/background.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }

        h1 {
            color: #fff;
            font-size: 32px;
            margin-bottom: 20px;
        }

        .form-container {
           
            padding: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .form-container .form-floating {
            margin-bottom: 10px;
            width: 100%;
        }

       .form-container .btn-primary {
           background-color: #800080; /* Purple color */
            border-color: #800080;
        }
        }
        .form-container .btn-primary:hover {
        
            background-color: #4B0082; /* Darker shade of purple */
            border-color: #4B0082;
        
        }
    </style>
</head>



<body>
<h1>@{
    string title = "Log in";
    string registerAction = "Register";
    string loginAction = "Login";

}</h1>
<div class="form-container">
    
            <form id="account" method="post">
                @Html.AntiForgeryToken()
                <div>
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                @*
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                *@
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                @*
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                   
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
                *@
                </div>
            </form>
        
</div>
    
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
